body{
    
     margin: 0;
  padding: 0;
 

  border-radius: 10px;
  background-color:darkgray;
  font-family: 'Segoe UI', sans-serif;
}

.continer{
    background-color: #333;
    height: 50px;
    width: 100%;
   
    align-items: center;
    align-content: center;
    text-align: end;
    padding-right: 10px;
}
.continer a{
   
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    
   
}
a:hover{
    background-color: black;
    height: 50px;
}
div{
    background-color:rgb(222, 243, 244);
    
    box-shadow: #404040;
    height: 1400px;
    width: 800px;
    margin: auto;
    border: 5px;
    border-radius: 10px;
    
    
    
}
h1{
    color: cornflowerblue;
    text-align: center;
   
    

}
pre{
    color: black;
    font-size: 20px;
    text-align: center;
    display: inline;
}
img{
    height: 500px;
    width: 700px;
    margin: auto;
    padding: 50px;
}
table {
      width: 80%;
      margin: 50px auto;
      border-collapse: collapse;
      font-family: Arial, sans-serif;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      background-color: #ddd;
    }

    th, td {
      padding: 12px 20px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color:  #ddd;
      font-weight: bold;
    }

    tr:hover {
      background-color:  #ddd;
    }

    a {
      color: #007bff;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }